%h1 Edit Your Profile
=form_for @user, html: {class: "user_form"} do |f|
  %p
    =f.label :name
    =f.text_field :name, class: "text"
  %p
    =f.label :email
    =f.text_field :email, class: "text"
  %p
    =f.label :phone
    =f.text_field :phone, class: "text"
  %p
    =f.label :mobile
    =f.text_field :mobile, class: "text"
  %p
    =f.label :facebook
    =f.text_field :facebook, class: "text"
  %p
    =f.label :twitter
    =f.text_field :twitter, class: "text"
  %p
    =f.submit
.links
  =link_to "Back", :back