%h1 Your Profile
.pic
  =image_tag @user.profile_picture
.info
  %p
    Name:
    =@user.name
  %p
    Email
    =@user.email
  %p
    Phone
    =@user.phone
  %p
    Mobile
    =@user.mobile
  %p
    Twitter
    =@user.twitter
  %p
    Facebook
    =@user.facebook
.links
  =link_to "Edit", edit_user_path
  =link_to "Logout", destroy_user_session_path, method: :delete