=image_tag @user.profile_picture
%p
  Name:
  =@user.name
%p
  Email
  =@user.email
%p
  Phone
  =@user.phone
%p
  Mobile
  =@user.mobile
%p
  Twitter
  =@user.twitter
%p
  Facebook
  =@user.facebook

=link_to "Edit", edit_user_path